@import "reset";
@import "helpers/fonts";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

body {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    overflow: hidden;
    transition: color 0.5s, background-color 0.5s;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    min-height: 100svh;
}

header {
    height: fit-content;
    padding: 5px 0;
    margin-bottom: -10px;
}

.content-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100svh - var(--navbar-height));
}


