.timer {
  display: flex;
  justify-content: space-around;

  &__num {
    font-size: em(80, $fz);
    margin-bottom: em(1, $fz);

    @media screen and ('max-width: 480px') {
      font-size: em(40, $fz);
    }
  }

  &__text {
    font-size: em(30, $fz);

    @media screen and ('max-width: 480px') {
      font-size: em(16, $fz);
    }
  }
}
