.badge {
    background-color: var(--accent-color);
    color: var(--bg-color);
    font: var(--font-xl);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    transform: rotate(-10deg);
    position: fixed;
    top: 40%;
    left: -5%;
    right: -5%;
    z-index: 1;

    @media screen and ('max-width: 510px') {
        font: var(--font-l);
    }
}
