@import "src/assets/styles/helpers/functions";
@import "src/assets/styles/helpers/variables";

.language-switcher-locales {
  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    text-transform: uppercase;
    padding: em(10, $fz);

    &--btn {
      text-decoration: none;
      color: aqua;
    }
  }
}
