.timer {
  display: flex;
  justify-content: space-around;

  &__num {
    font-size: 80px;
    margin-bottom: 10px;

    @media screen and ('max-width: 480px') {
      font-size: 40px;
    }
  }

  &__text {
    font-size: 30px;

    @media screen and ('max-width: 480px') {
      font-size: 16px;
    }
  }
}
