@import "helpers/variables";
@import "helpers/fonts";

@import "birthday";
@import "timer";
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  text-decoration: none;
}

body {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-family: $sourceSansPro;
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}

.countdown {
  max-width: 920px;
  text-align: center;
  text-transform: uppercase;

  &__title {
    font-size: 60px;
    margin-bottom: 30px;

    @media screen and ('max-width: 480px') {
      font-size: 35px;
    }
  }
}
