@import "helpers/functions";
@import "helpers/variables";
@import "helpers/fonts";
@import "footer";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-family: $sourceSansPro;
  overflow: hidden;
}

header {
  height: fit-content;
  padding: em(5, $fz) 0;
  margin-bottom: em(-10, $fz);
}

nav {
  margin: 0 auto;
  padding-right: em(10, $fz);
  display: flex;
  justify-content: right;
}
