name: CI

on:
  push:
    branches: [ master ]
  workflow_dispatch:

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Install Dependencies
        run: yarn

      - name: Build App
        run: yarn build

      - name: Delete source maps
        run: find './dist' -name '*.map' -print0 | xargs -0 rm -f

      - name: Archive build
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: dist

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          platforms: linux/arm64/v8,linux/amd64
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest,${{ env.IMAGE_NAME }}:${GITHUB_SHA}

      - name: Save SHA
        env:
          TAG: ${{ steps.vars.outputs.sha_short }}
        run: |
          envsubst < .ops/helm/Deployment.yaml > tempbase
          cat tempbase > deploy/base/deployment.yaml
          rm tempbase
  deploy:
    name: Deploy
    environment:
      name: dev
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Kubectl tool installer
        uses: Azure/setup-kubectl@v1

      - name: Setup kubectl
        env:
          K8S_CONFIG: ${{ secrets.K8S_CONFIG }}
        run: |
          mkdir -p $HOME/.kube
          echo "${K8S_CONFIG}" | base64 --decode > $HOME/.kube/config

      - name: Download Deploy
        uses: actions/download-artifact@v2
        with:
          name: deploy

      - name: Apply pods
        run: kubectl apply -f .ops/helm/Deployment.yaml -n default

      - name: Wait For Deployment To Start
        run: sleep 10s

      - name: Wait For Pods To Start
        run: kubectl wait --for=condition=ready pod -l app=lllllll-ru -n default --timeout=10m
